@page "/"

@inject IJSRuntime jsRuntime

<PageTitle>Index</PageTitle>

<button @onclick="@OpenFileAsync">Open Plain Text File</button>

@code {
    private async Task OpenFileAsync()
    {
        byte[] byteArray = System.Text.Encoding.ASCII.GetBytes("Plain Text String");
        var fileStream = new MemoryStream(byteArray);

        using var streamRef = new DotNetStreamReference(fileStream);

        await jsRuntime.InvokeAsync<object>("BlazorInputFile.downloadFile", "Test.txt", streamRef, "text/plain", true);
    }
}
